@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
:root {
  --Very-dark-desaturated-blue-main-background: hsl(222, 26%, 31%);
  --Very-dark-desaturated-blue-toggle-background-keypad-background: hsl(
    223,
    31%,
    20%
  );
  --Very-dark-desaturated-blue-screen-background: hsl(224, 36%, 15%);
  --Desaturated-dark-blue-key-background: hsl(225, 21%, 49%);
  --Desaturated-dark-blue-key-shadow: hsl(224, 28%, 35%);
  --Red-key-background-toggle: hsl(6, 63%, 50%);
  --Dark-red-key-shadow: hsl(6, 70%, 34%);
  --Light-grayish-orange-key-background: hsl(30, 25%, 89%);
  --Grayish-orange-key-shadow: hsl(28, 16%, 65%);
  --Very-dark-grayish-blue: hsl(221, 14%, 31%);
  --White: hsl(0, 0%, 100%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  background-color: var(--Very-dark-desaturated-blue-main-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main {
  width: 21em;
  height: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 100%;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.option_selector_name {
  display: flex;
  align-items: center;
  gap: 1em;
  letter-spacing: 1px;
}
.option_selector_name b {
  font-size: 0.8em;
}
label {
  margin-left: 0.5em;
}
.options_selector {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.option_number {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.toggle {
  position: relative;
  width: 60px;
  height: 25px;
  background-color: var(
    --Very-dark-desaturated-blue-toggle-background-keypad-background
  );
  border-radius: 12.5px;
  margin-top: 5px;
  cursor: pointer;
}
.toggle input {
  display: none;
}
.slider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: var(--Red-key-background-toggle);
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.toggle-label {
  position: absolute;
  top: 2px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
}
label[for="toggle1"] {
  left: 0px;
}
label[for="toggle2"] {
  left: 20px;
}
label[for="toggle3"] {
  left: 40px;
}
#toggle1:checked ~ .slider {
  transform: translateX(0px);
}
#toggle2:checked ~ .slider {
  transform: translateX(20px);
}
#toggle3:checked ~ .slider {
  transform: translateX(40px);
}
.display {
  width: 100%;
  height: 4em;
}
.display input {
  width: 100%;
  height: 100%;
  text-align: right;
  font-size: 2em;
  padding-right: 0.2em;
  padding-left: 0.2em;
  border-radius: 0.2em;
  border: none;
  margin-top: 0.7em;
  background-color: var(--Very-dark-desaturated-blue-screen-background);
  color: white;
  letter-spacing: 1px;
}
.key_input {
  width: 100%;
  height: 20em;
  margin-top: 3em;
  background-color: var(
    --Very-dark-desaturated-blue-toggle-background-keypad-background
  );
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.line {
  display: flex;
  gap: 0.8em;
}
input[type="button"] {
  width: 3em;
  height: 2em;
  font-size: 1.4em;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-weight: 900;
  border: none;
}
.general_button {
  background-color: var(--Light-grayish-orange-key-background);
  color: var(--Very-dark-grayish-blue);
  border-radius: 0.2em;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 5px 0px var(--Grayish-orange-key-shadow);
}
.general_button:hover {
  background-color: white;
}
.delete_key {
  background-color: var(--Desaturated-dark-blue-key-background);
  border: none;
  border-radius: 0.2em;
  box-shadow: 0px 5px 0px var(--Desaturated-dark-blue-key-shadow);
  color: var(--Light-grayish-orange-key-background);
}
.reset_key {
  min-width: 6.5em;
  letter-spacing: 1px;
  background-color: var(--Desaturated-dark-blue-key-background);
  border: none;
  border-radius: 0.2em;
  box-shadow: 0px 5px 0px var(--Desaturated-dark-blue-key-shadow);
  color: var(--Light-grayish-orange-key-background);
  transition: 0.3s ease-in-out;
}
.reset_key:hover,
.delete_key:hover {
  background-color: hsl(225, 21%, 56%);
  opacity: 0.8;
}
.equal_key {
  min-width: 6.5em;
  background-color: var(--Red-key-background-toggle);
  color: white;
  border: none;
  border-radius: 0.2em;
  opacity: 0.9;
  box-shadow: 0px 5px 0 var(--Dark-red-key-shadow);
}
.equal_key:hover {
  background-color: hsl(6, 59%, 56%);
}
:root.theme2 {
  --Very-dark-desaturated-blue-main-background: hsl(0, 0%, 90%);
  --Very-dark-desaturated-blue-toggle-background-keypad-background: hsl(
    0,
    5%,
    81%
  );
  --Very-dark-desaturated-blue-screen-background: hsl(0, 0%, 93%);
  --Desaturated-dark-blue-key-background: hsl(185, 42%, 37%);
  --Desaturated-dark-blue-key-shadow: hsl(185, 58%, 25%);
  --Red-key-background-toggle: hsl(25, 98%, 40%);
  --Dark-red-key-shadow: hsl(25, 99%, 27%);
  --Light-grayish-orange-key-background: hsl(45, 7%, 89%);
  --Grayish-orange-key-shadow: hsl(35, 11%, 61%);
  --Very-dark-grayish-blue: hsl(60, 10%, 19%);
  --White: hsl(0, 0%, 100%);
}

body.theme2 {
  background-color: var(--Very-dark-desaturated-blue-main-background);
}

.display input.theme2 {
  background-color: var(--Very-dark-desaturated-blue-screen-background);
}

.key_input.theme2 {
  background-color: var(
    --Very-dark-desaturated-blue-toggle-background-keypad-background
  );
}

/* Theme 3 */
:root.theme3 {
  --Very-dark-desaturated-blue-main-background: hsl(268, 75%, 9%);
  --Very-dark-desaturated-blue-toggle-background-keypad-background: hsl(
    268,
    71%,
    12%
  );
  --Very-dark-desaturated-blue-screen-background: hsl(268, 71%, 12%);
  --Desaturated-dark-blue-key-background: hsl(281, 89%, 26%);
  --Desaturated-dark-blue-key-shadow: hsl(285, 91%, 52%);
  --Red-key-background-toggle: hsl(176, 100%, 44%);
  --Dark-red-key-shadow: hsl(177, 92%, 70%);
  --Light-grayish-orange-key-background: hsl(268, 47%, 21%);
  --Grayish-orange-key-shadow: hsl(290, 70%, 36%);
  --Very-dark-grayish-blue: hsl(52, 100%, 62%);
  --White: hsl(0, 0%, 100%);
}

body.theme3 {
  background-color: var(--Very-dark-desaturated-blue-main-background);
}

.display input.theme3 {
  background-color: var(--Very-dark-desaturated-blue-screen-background);
}

.key_input.theme3 {
  background-color: var(
    --Very-dark-desaturated-blue-toggle-background-keypad-background
  );
}

.general_button.theme3 {
  background-color: var(--Light-grayish-orange-key-background);
  color: var(--Very-dark-grayish-blue);
  box-shadow: 0 3px 0 var(--Grayish-orange-key-shadow);
}

.delete_key.theme3 {
  background-color: var(--Desaturated-dark-blue-key-background);
  box-shadow: 0 3px 0 var(--Desaturated-dark-blue-key-shadow);
}

.reset_key.theme3 {
  background-color: var(--Desaturated-dark-blue-key-background);
  box-shadow: 0 3px 0 var(--Desaturated-dark-blue-key-shadow);
}

.equal_key.theme3 {
  background-color: var(--Red-key-background-toggle);
  box-shadow: 0 3px 0 var(--Dark-red-key-shadow);
}
